html,
body {
    background-color: #ddd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    /* padding: 0 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: burlywood;
    /* position: fixed; */
    border-bottom: 3px solid coral;
}

header span {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}

header ul {
    /* background-color: red; */
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header ul li {
    margin-right: 30px;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .3s;
}
header ul li a:hover{
    color: #f53030;
}
.container{
    margin: auto;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
table{
    background-color: #fff;
    width: 400px;
    height: 100px;
    text-align: center;
}
table,tr,thead,td{
    border: 2px solid black;
}